page-login {
    .login-conteiner {
        position: absolute;
        z-index: 2;
        top: 60px;
        width: 100%;
        padding: 10vw;
        text-align: center;
        color: #fff;    
        margin: 0 auto;    
    }    
    .login-button {
        text-transform: uppercase;
        &.activated {
            background-color: rgba(255,255,255,.4) !important;
        }
    } 
    ion-content {
        background: linear-gradient(rgba(5,20,57,0), rgba(3,17,52,0.748));
    }
}
