page-configuracao {

    .true {
        background: linear-gradient(#800000, #fff);
    }

    .false {
        background: linear-gradient(#00004d, #fff);
    }

    ion-item{
        height: 12%;
    }
}
